version: '3.7'

services:
  postgres:
      image: postgres
      ports: 
        - "5432:5432"
      hostname: postgres
      environment:
        POSTGRES_PASSWORD: mysecretpassword
  pgadmin:
    image: dpage/pgadmin4
    ports:
      - "3000:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: "guest@guest.com"
      PGADMIN_DEFAULT_PASSWORD: secret
  elk:
      image: sebp/elk
      ports:
        - "5601:5601"
        - "9200:9200"
        - "5044:5044"
